body{
	background-color: #F6F6F6;
}
nav{
	width: 100%;
	list-style-type: none;
}
header{
	font-size: 32px;
	letter-spacing: 1px;
	margin-left: 5px;
	font-weight: bold;
	border-bottom: 5px solid rgba(252, 174, 41, 0.95);;
	width: 70%;
	margin-top: 10px;
	font-family: 'Oswald', sans-serif;
}
.upper-navbar{
	height: 140px;
	background-color: #464646;
}
.lower-navbar{
	height: 45px;
	background-color: #1F1F1F;
}
li{
	float: left;
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 10px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
}
.logo{
	width: 70%;
	height: 100%;
	float: left;
}
.logo-navbar{
	width: 55%
}
.logo-image{
	width: 100%;
}
.logo-nav{
	margin-top: 5px;
height: 25px;
width: 100%;
}
.logo-nav-element{
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	border-right: 1px solid rgba(0, 0, 0, 0.6);
	float: left;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
}
@media screen and (max-width: 1024px) {
    .logo-navbar{width: 70% !important;}
}
.cart{
	float: left;
	width: 25%;
	border-left: 2px solid #D7D7D7;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	height: 100%;
}
.slider-background{
	background-color: #717171;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.index-slider{

	height: 430px;
	background-color: green;
	overflow: hidden;
	padding: 0;

}
.product-data-box{
	height: 265px;
	width: 100%;
	padding: 5px;
	background-color: #F3F3F3;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.product-data-photo{
	width: 100%;
	background-color: transparent;
	height: 80%;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;
}
.discount{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 85px;
	height: 30px;
	font-size: 18px;
	text-align: center;
	line-height: 180%;
	font-weight: bold;
	border-top-left-radius: 80px;
	color: white;
	background-color: rgba(252, 174, 41, 0.95);
}
.product-data-title{
	height: 20%;
	width: 100%;
	padding: 2px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}
.option{
	height: 265px;
	border: 1px solid black;
}
