body{
	background-color:#F6F6F6;
}
nav{
	width: 100%;
	list-style-type: none;
}
header{
	font-size: 32px;
	letter-spacing: 1px;
	margin-left: 5px;
	font-weight: bold;
	border-bottom: 5px solid rgba(252, 174, 41, 0.95);;
	width: 70%;
	padding-top: 5px;
	font-family: 'Oswald', sans-serif;
}
.upper-navbar{
	height: 125px;
	background-color: #464646;
}
.lower-navbar{
	height: 45px;
	background-color: #1F1F1F;
}
li{
	float: left;
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
}
.logo{
	width: 70%;
	height: 100%;
	float: left;
}
.logo-navbar{
	width: 55%
}
.logo-image{
	width: 100%;
}
.logo-nav{
	margin-top: 5px;
height: 25px;
width: 100%;
}
.slider-box{
	height: 520px;
<<<<<<< HEAD
	padding: 0;
}
.slide{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.arrow{
	position: absolute;
	top: 45%;
	z-index: 9999;
	cursor: pointer;
}
.arrow-left{
	left: 0;
}
.arrow-right{
	right: 0;
}
.slide-1{
	background-color: red;
}
.slide-2{
	display: none;
	background-color: green;
}
.slide-3{
	display: none;
	background-color: blue;
}
.slide-4{
	display: none;
	background-color: yellow;
}
.slider{
	position: relative;
	height: 100%;
	width: 100%;
	background-color: silver;
	overflow: hidden;

=======
	background-color: gray;
	position: relative;
	overflow: hidden;
}
.slider-position{

	position: absolute;
	top: 0;
	left: 0;
	height: 520px;
	width:100%;
	overflow: hidden;
}
#slide-2{
	background-color: green;
	z-index: 99;
}
#slide-1{
	background-color: red;
	z-index: 100;
	left: 0;
}
#slide-3{
	background-color: blue;
	z-index: 98;
}
.arrow{
	position: absolute;
	top: 45%;
	z-index: 110;
}
.left{
	left: 0;
}
.right{
	right: 0;
>>>>>>> origin/master
}
.logo-nav-element{
	text-decoration: none;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	border-right: 1px solid rgba(0, 0, 0, 0.6);
	float: left;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
}
.logo-nav-element:hover{
	color: white;
	text-decoration: none;
}
@media screen and (max-width: 1024px) {
    .logo-navbar{width: 70% !important;}
}
.cart{
	float: left;
	width: 25%;
	border-left: 2px solid #D7D7D7;
	text-align: center;
	font-size: 28px;
	background-color: orange;
	font-weight: bold;
	height: 100%;
}

.cart-items{
	text-align: center;
	width: 100%;
	color: #F6F6F6;
}
.slider-background{
	background-color: #717171;
	margin-bottom: 10px;
}
.index-slider{

	height: 260px;
	background-color: green;

}
.product-data-box{
	height: 265px;
	width: 100%;
	padding: 5px;
	background-color: #F3F3F3;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.product-data-photo{
	width: 100%;
	background-color: #f6f6f6;
	height: 80%;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;
}
.discount{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 85px;
	height: 30px;
	font-size: 18px;
	text-align: center;
	line-height: 180%;
	font-weight: bold;
	border-top-left-radius: 80px;
	color: white;
	background-color: rgba(252, 174, 41, 0.95);
}
.product-data-title{
	height: 20%;
	width: 100%;
	padding: 2px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}
.option{
	height: 265px;
	border: 1px solid black;
}
