body{
	background-color:#F6F6F6;
}
nav{
	width: 100%;
	list-style-type: none;
}
.nav-icons{
	float: right;
	cursor: pointer;
}
.navUserForm{
	float: right;
	border: none;
	border-radius: 4px;
	padding: 4px;
	margin-right: 6px;
	margin-top: 2px;
	display: none; /* do zmiany przez JS */
}
.fixWidth{
	width: 1px; /* 1 domyślnie, bo przez JS zmieniane po kliknięciu 150 */
}
.navFormButton{
	float: right;
	border: none;
	background-color: #323232;
	color: white;
	border: 1px solid #414141;
	border-radius: 4px;
	font-weight: bold;
	margin-top: 4px;
	width: 1px; /* 1 domyślnie, bo przez JS zmieniane po kliknięciu 65px */
}
.sticky {
  position: fixed;
  width: 100%;
  bottom:50px;
  right: 40px;
  z-index: 150;
  border-top: 0;
}
.scrolltop{
	width:100px;
	display: none;
	height:130px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	text-decoration: none;
	position:fixed;
	width: 65px;
	height: 65px;
	border-radius: 40px;
	background-color: rgba(80,80,80, 0.3);
	bottom:50px;
	right:40px;
	z-index: 150;
}
.scrolltop:hover{
	text-decoration:none;
}
.scrolltop a{
	color: black;
	text-decoration: none;
}
header{
	font-size: 32px;
	letter-spacing: 1px;
	margin-left: 5px;
	font-weight: bold;
	border-bottom: 5px solid rgba(252, 174, 41, 0.95);;
	width: 70%;
	padding-top: 5px;
	font-family: 'Oswald', sans-serif;
}
.headerSmaller{
	font-size: 26px !important;
}
.clearborder{
	border: none !important;
}
.container-well{
	padding: 5px;
	background-color: gray;
}
.upper-navbar{
	height: 125px;
	background-color: #464646;
}

.lower-navbar{
	height: 45px;
	margin-bottom: 20px;
	background-color: #1F1F1F;
}

li{
	float: left;
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
}
li a, li a:hover{
	color: white;
	text-decoration: none;
}

.logo{
	width: 70%;
	height: 100%;
	float: left;
}
.logo-navbar{
	width: 55%
}
.logo-image{
	width: 100%;
}
.logo-nav{
	margin-top: 5px;
height: 25px;
width: 100%;
}
.slider-box{
	height: 520px;
	padding: 0;
}
.slide{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.arrow{
	position: absolute;
	top: 45%;
	z-index: 9999;
	cursor: pointer;
}
.arrow-left{
	left: 0;
}
.arrow-right{
	right: 0;
}
.slide-1{
	background-color: red;
}
.slide-2{
	display: none;
	background-color: green;
}
.slide-3{
	display: none;
	background-color: blue;
}
.slide-4{
	display: none;
	background-color: yellow;
}
.slider{
	position: relative;
	height: 100%;
	width: 100%;
	background-color: silver;
	overflow: hidden;
	background-color: gray;
	position: relative;
	overflow: hidden;
}
.slider-position{

	position: absolute;
	top: 0;
	left: 0;
	height: 520px;
	width:100%;
	overflow: hidden;
}
#slide-2{
	background-color: green;
	z-index: 99;
}
#slide-1{
	background-color: red;
	z-index: 100;
	left: 0;
}
#slide-3{
	background-color: blue;
	z-index: 98;
}
.arrow{
	position: absolute;
	top: 45%;
	z-index: 110;
}
.left{
	left: 0;
}
.right{
	right: 0;
}
.logo-nav-element{
	text-decoration: none;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	border-right: 1px solid rgba(0, 0, 0, 0.6);
	float: left;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
}
.logo-nav-element:hover{
	color: white;
	text-decoration: none;
}
@media screen and (max-width: 1024px) {
    .logo-navbar{width: 70% !important;}
}
.cart{
	float: left;
	width: 25%;
	border-left: 2px solid darkorange;
	text-align: center;
	font-size: 28px;
	color: white;
	position: relative;
	font-weight: bold;
	height: 125px;
}
.cartAbsolute{
	top: 7px;
	position: absolute;
	color: #464646;
	font-size: 20px;
	left: 48%;
}
.slider-background{
	background-color: #717171;
	margin-bottom: 10px;
}
.index-slider{

	height: 260px;
	background-color: green;

}
.product-data-box{
	max-height: 350px;
	width: 100%;
	text-decoration: none;
	padding: 5px;
	background-color: #F3F3F3;
	z-index: 100;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.product-data-photo{
	width: 100%;
	z-index: 100;
	background-color: #f6f6f6;
	overflow: hidden;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;
}
.product-data-title{
	width: 100%;
	padding: 2px;
	font-size: 18px;
	color: black;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	z-index: 100;
}

.category-box{
	position: relative;
	overflow: hidden;
	max-height: 350px;
	overflow: hidden;
}
.category-title{
	position: absolute;
	top: 40%;
	width: 100%;
	left: 0;
	text-align: center;
	font-size: 32px;
	color: white;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	text-shadow: -1px -1px 6px rgba(25, 25, 25, 1);
}
.discount{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 85px;
	height: 30px;
	font-size: 18px;
	text-align: center;
	line-height: 180%;
	font-weight: bold;
	border-top-left-radius: 80px;
	color: white;
	background-color: rgba(252, 174, 41, 0.95);
}

.option{
	height: 265px;
	border: 1px solid black;
}
.clearbottom{
	border-bottom: none !important;
}
/* product show */

.product-photo{
	z-index: 99999;
}
.icon-large{
	font-size: 80px !important;
	float: left;
}
.cart-quantity{
	width: 35px;
	margin-bottom: 5px;
	float: left;
	text-align: center;
}
.cart-flex{
	width: 180px;
	margin-left: auto;
	margin-right: auto;
}
.product-photo-list{
	height: 100px;
	width: 100%;
	margin-bottom: 20px;
	overflow: hidden;
}
.paddingleft{padding-left: 5 !important;}
.paddingright{padding-right: 5 !important;}
.product-photo-list-element{
	float: left;
	width: 20%;
	height: 100px;
	overflow: hidden;
}
.opinion-box{
	width: 100%;
	padding: 5px;
	border-radius: 4px;
}
.opinion-user{
	width: 60px;
	text-align: center;
	font-weight: bold;
	color: #DBB14F;
	height: 80px;
	float: left;
}
.opinion{
	width: 100%;
	min-height: 80px;
	padding-top: 5px;
	background-color: rgba(192, 192, 192, 0.3);
	margin-bottom: 5px;
}
.opinion-content{
	float: left;
	width: 90%;
	padding: 5px;
}
.opinionRate{
	float: right;
	padding-left: 5px;
}
.colorGreen{color: mediumseagreen;}
@media (max-width: 425px) { 
	.opinion-content{width: 75% !important;}
 }
.opinion-content-date{
	width: 100%;
	font-size: 12px;
	color: gray;
}
/* dashboard */
.admin-header{
	width: 100%;
	background-color: #EB5557;
	padding: 5px;
	text-align: center;
	font-family: 'Oswald';
	letter-spacing: 1px;
	font-weight: bold;
	color: #F6F6F6;
	font-size: 16px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.clearPaddingTop{
	padding-top: 0 !important;
}
.adminOptionRow{
	padding: 2px;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
	background-color: #ECECEC;
	cursor: pointer;
}
.adminOptionIcon{
	float: left;
	padding-top: 5px;
}
.adminOptionContent{
	float: left;
	font-weight: bold;
	font-size: 18px;
	line-height: 200%;
	color: #191919;
	font-family: 'Oswald', sans-serif;
	padding-left: 5px;
}
@media screen and (min-width: 768px) and (max-width: 426px) {
    .adminOptionContent{
	font-size: 16px !important;
	line-height: 250% !important;
}
}
.adminBorder{
	border: 2px solid #EB5557;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.adminInfos{
	height: 200px;
	background-color: #BDBDBD;
}
.marginTen{
	margin-top: 10px;
}
.marginBottomTen{
	margin-bottom: 10px;
}
.infoWell{
	text-align: center;
	padding: 10px !important;
}
.infoIcon{
	min-height: 10px;
	width: 50%;
	float: left;
	text-align: right;
}
.infoNumber{
	min-height: 10px;
	width: 50%;
	text-align: left;
	font-size: 24px;
	padding-top: 10px;
	padding-left: 5px;
	overflow: hidden;
	float: left;
}
.infoName{
	font-size: 18px;
	width: 100%;
	text-align: center;
}